/*-- scss:defaults --*/


@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic);
@import url('https://hangeul.pstatic.net/hangeul_static/css/nanum-square-neo.css');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Stylish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100;200;300;400;500;600;700;800;900&family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap');


// fonts
$font-family-sans-serif: 'IBM Plex Sans KR', "Open Sans", sans-serif !default;

// colors
// $body-bg: #111 !default;

//$body-bg: #3c3836 !default;
//$body-color: #fff !default;
// $link-color: #e7ad52 !default;
//$link-color: #83a598 !default;
//$selection-bg: #b8bb26 !default;
// $emphasis-color: #cc241d !default;
// $code-color: #663399 !default; 
// $code-bg: #F5F5F5 !default; 
//$input-panel-bg: rgba(233, 236, 239, 0.2) !default;

// headings
// $presentation-heading-font: "Montserrat", NanumSquareNeoHeavy, sans-serif;
//$presentation-heading-letter-spacing: -0.03em;
//$presentation-heading-color: #ebdbb2;
// code blocks
//$code-block-border-color: rgba(233, 236, 239, 0.5) !default;


.myheader,
.myheader h2 {
  font-family: 'Open Sans', 'IBM Plex Sans KR', sans-serif, !important;
  font-weight: 700;
}

.sidebar-title {
  font-family: 'Open Sans', 'IBM Plex Sans KR', sans-serif, !important;
  font-family: 'Open Sans', 'IBM Plex Sans KR', serif, !important;
  font-family: 'Open Sans', 'IBM Plex Sans KR', monospace, !important;
  line-height: 1.8em;
  color: GhostWhite;
  
}



.blue_tag {
  color: LightBLue;
  font-weight: 600;
}

.royal_tag {
  color: RoyalBLue;
  font-weight: 600;
}

.slateblue_tag {
  color: DarkSlateBlue;
  font-weight: 600;
}

.darkgray_tag {
  color: DarkGray;
  font-weight: 600;
}


.pink_tag {
  color: Plum;
  font-weight: 600;
}

.green_tag {
  color: YellowGreen;
  font-weight: 600;
}

.my_strong {
  color: DarkOrange;
  font-weight: 600;
}

.red_tag {
  color: DarkRed;
  font-weight: 600;
}

.tbl_width_shrink {
  padding-left: 10%;
  padding-right: 10%;
}

.tbl_width_big_shrink {
  padding-left: 15%;
  padding-right: 15%;
}

// $dark-bg-text-color:	#fff;
// $dark-bg-link-color:	#42affa;
// $dark-bg-code-color:	#ffa07a;
  
